@use 'sass:color';
@import '~style/colors';
@import '~style/typography';
@import '~style/mixins';

.container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.section {
  border-radius: 6px;
  box-shadow: 0px 4px 7px color.adjust($gray-shadow-05-color, $alpha: +0.25);
}

.textSection {
  @extend .section;
  background-color: $white-color;
}

.heading {
  @extend .font-family-primary;
  @extend .font-weight-bold;
  @extend .font-size-xl;
  @extend .line-height-m;
  @extend .font-color-dark;
  @extend .text-align-center;
}

.headingWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;

  &:has(> h1:only-child) {
    display: flex;
    justify-content: center;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.imageWrapper {
  overflow: hidden;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  .image {
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 25px 35px;

  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.title {
  @extend .font-family-secondary;
  @extend .font-weight-medium;
  @extend .font-size-xl;
  @extend .line-height-xxl;
  @extend .font-color-dark;
}

.text {
  @extend .font-family-primary;
  @extend .font-weight-regular;
  @extend .font-size-s;
  @extend .line-height-l;
  @extend .font-color-dark;

  a {
    color: $blue-01-color;
    text-decoration: underline;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 30px;

  padding: 15px 35px;
}

.actionGroup {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}