@import '~style/colors';
@import '~style/typography';

.multiSelect {
  padding: 0;
  height: auto;
  min-height: 40px;

  &Focused {
    border: 2px solid $purple-color;

    &:hover {
      border: 2px solid $purple-color;
    }

    &::placeholder {
      @extend .font-color-gray-03;
    }
  }
}
