@import '~style/colors';
@import '~style/mixins';
@import '~style/variables';

.indicator {
  position: relative;
  left: calc($app-container-max-width / var(--numOfTabs) * var(--position));
  bottom: 2px;

  width: calc($app-container-max-width / var(--numOfTabs));
  height: 2px;
  margin-bottom: 30px;

  background: $purple-color;

  @include smooth-transition(all);
}
